---
layout: default
---


<style>
	.toc-sidebar {
	  position: fixed;
	  top: 56px;
	  overflow: hidden;
	  max-width: 350px;
  }
  
  .toc-sidebar h3, .toc-sidebar h4 {
	margin-left: 25px;
	margin-bottom: 0;
  }

  .section-nav {
	margin-left: 5px;
  } 

  .section-nav ul {
	padding-left: 15px;
  }
  </style>

{% if page.toc %}
<div id="table-of-contents" class="toc-sidebar">
	<h3>Contents</h3>
	<h4><a href="#page-title">{{ page.title }}</a></h4>
	{{ content | toc_only }}
  </div>
{% endif %}

<section class="container">
  <h1 id="page-title">
	<a class="anchor" href="#page-title" aria-hidden="true"><span class="octicon octicon-link"></span></a>
	{{ page.title }}
  </h1>
  <article>
    
      {{ content | inject_anchors }}
  </article>
</section>